{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
{graphql,
    {git, "https://github.com/shopgun/graphql-erlang.git", {branch, "master"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.2.0"}}},
    {encrypter, "1", {git, "https://github.com/zack-bitcoin/encrypter", {tag, "master"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.4.2"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy.git", {tag, "0.15.2"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}},
    {recon, {git, "https://github.com/ferd/recon.git", {branch, "master"}}},
    {iso8601, {git, "https://github.com/erlsci/iso8601.git", {branch, "master"}}}
]}.

{relx, [
  {release, {veosh, "1.0.0"}, [
    veosh_core,
    veosh_web,
    recon
  ]},

  {dev_mode, true},
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},

  {extended_start_script, true}]}.
